body{
    margin:0;
    background-color:black;
    min-height:100%;
    

}

.container{
    position:relative;
    width:60%;
    top:30px;
    margin:0 auto;
    height: 580px;
    background-size: cover;
    background-image: url(bg.jpg); 
}

.secondPage img {
    position: absolute;   
    max-width:140px;
    top:40px;
    left:100px;
}

#question h1{
    position:absolute;
    width:70%;
    display:inline-block;
    margin:0 auto;
    color:rgb(241, 235, 235);
    top:180px;
    left:180px;
    right: 20px;
    font-size: 30px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answers{
    position:absolute;
    width:70%;
    text-align: center;
    top:300px;
    left:140px;
}

.answers button{
    display:inline-block;
    margin:0 auto;
    padding:20px 30px;
    background-color: none;
    border: 2px solid;
    border-radius:30px ;
    margin-bottom: 15px;
    margin-left: 10px;
}

.answerText{
   
    display:block;
    background-color:transparent;
    color:#fff;
    font-size:12px;
}

.answerText:hover{
    background-color:deeppink;
    box-shadow:1px 1px 5px deeppink;
} 


.numberQ {
    position:absolute;
    width:100%;
    bottom:40px;
    text-align:center;
    color:aliceblue;
    font-size:15px;
    font-family: sans-serif;
}

.numberQ strong{
    color:deeppink;
}