body{
    margin:0;
    background-color:black;
    min-height:100%;
    

}

.secondPage{
    position:relative;
    width:60%;
    top:30px;
    margin:0 auto;
    height: 580px;
    background-size: cover;
    background-image: url(bg.jpg); 
}

.secondPage img {
    position: absolute;   
    max-width:120px;
    top:40px;
    left:100px;
}
